.popup-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

/* Styles for the pop-up content */
.popup-content {
  height: 450px;
  width: 700px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.651);
  border-radius: 12px;
}

#verifyButton {
  margin-top: 20px;
  background-color: #fba32fed;
  border-color: #fba22f;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  border-radius: 8px;
  width: 48%;
  justify-content: center;
}

#verifyButton:hover {
  background-color: #ff910089;
}

#closePopupBtn {
  margin-top: 20px;
  background-color: #fba32fed;
  border-color: #fba22f;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  border-radius: 8px;
  width: 48%;
  justify-content: center;
}

#closePopupBtn:hover {
  background-color: #ff910089;
}

#verificationCode {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  border-radius: 8px;
  width: 96%;
}

#verificationError {
  color: red;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  border-radius: 8px;
}

.content {
  background-color: rgba(0, 0, 0, 0.236);
  width: 85%;
  margin-top: 15vh;
  height: 70vh;
}

.col-md-12.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.form-label {
  font-size: 2rem;
  font-weight: 400;
  color: #ffffff;
}

.btn-primary {
  background-color: #fba32fed;
  border-color: #fba22f;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  border-radius: 8px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s;
}

.btn-primary:hover {
  background-color: #ff910089;
  border-color: #ff9100;
  color: #03055ed5;
}

.error-red {
  color: red;
  font-size: 1.7rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  border-radius: 8px;
}

.anchor {
  text-decoration: none;
  color: #7e80fb;
  font-size: 1.7rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  border-radius: 8px;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.anchor:hover {
  -webkit-text-stroke: 2px #ff9100;
  color: transparent;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}
