@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jua&display=swap");

.navbar-expand-lg {
  background-color: rgba(0, 0, 0, 0);
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-brand {
  font-family: "Jua", "Jua Placeholder", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
}

.headerh {
  padding-top: 35vh;
  font-weight: 400;
  font-family: "Jua", "Jua Placeholder", sans-serif;
  color: #ffffff;
  font-size: 10rem;
  line-height: 1.1;
}

.headerp {
  padding-top: 1rem;
  font-weight: 700;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: #000000;
  font-size: 2.2rem;
  line-height: 1.5;
}

.headerh2 {
  padding-top: 15vh;
  font-weight: 400;
  font-family: "Jua", "Jua Placeholder", sans-serif;
  color: #03045e;
  font-size: 4.5rem;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 5vh;
}

.headerp2 {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 1.4rem;
  letter-spacing: 0em;
  line-height: 1.5;
  text-align: left;
}

.headerh3 {
  padding-top: 50vh;
  font-weight: 400;
  font-family: "Jua", "Jua Placeholder", sans-serif;
  color: #000000;
  font-size: 4rem;
  line-height: 1.2;
  text-align: left;
}

.headerp3 {
  padding-top: 5vh;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 1.7rem;
  line-height: 1.5;
  text-align: left;
}

.headerp33 {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: left;
}

.headerh4 {
  padding-top: 65vh;
  font-weight: 400;
  font-family: "Jua", "Jua Placeholder", sans-serif;
  color: #03045e;
  font-size: 3.5rem;
  line-height: 1.2;
  text-align: center;
}

.headerp4 {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #03045e;
  font-size: 1.5rem;
  text-align: center;
}

.explorebtn {
  box-sizing: border-box;
  width: 15rem;
  justify-content: center;
  align-items: center;
  padding: 15px 15px 15px 15px;
  background-color: #03045e;
  align-content: center;
  border-radius: 8px;
  font-weight: 700;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: #ff9100;
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
}
.explorebtn:hover {
  background-color: #ff9100;
  color: #03045e;
  width: 20rem;
  font-size: 1.5rem;
}

.yellow {
  background-color: #fba22f;
  height: 15vh;
}

.blue {
  box-sizing: border-box;
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 100px 100px 100px;
  background-color: #03045e;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  gap: 20;
  position: absolute;
  border-radius: 0px 0px 0px 0px;
}

.fa {
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #fba22f;
}

.fa::before {
  font-size: 4rem;
}

.fa:hover {
  color: teal;
  transform: scale(1.5);
}

.footer {
  padding-top: 5vh;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #ff8500;
  font-size: 1.5rem;
  text-align: center;
}
