@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jua&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-expand {
  background-color: #0577b44d;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-brand {
  font-family: "Jua", "Jua Placeholder", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #ffffff;
  transition: 0.5s;
}

.navbar-brand:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

.nav-link {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  transition: 0.5s;
  margin-right: 1rem;
}

.nav-link:hover {
  -webkit-text-stroke: 0.5px #fff;
  color: transparent;
}

.header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
}

.text {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
}

.headerh {
  padding-top: 5vh;
  font-weight: 400;
  font-family: "Jua", "Jua Placeholder", sans-serif;
  color: #ffffff;
  font-size: 10rem;
  line-height: 1.1;
}

.headerp {
  padding-top: 1rem;
  font-weight: 700;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: #000000;
  font-size: 2.2rem;
  line-height: 1.5;
}

.headerh2 {
  padding-top: 15vh;
  font-weight: 400;
  font-family: "Jua", "Jua Placeholder", sans-serif;
  color: #03045e;
  font-size: 4.5rem;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 5vh;
}

.headerp2 {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 1.4rem;
  letter-spacing: 0em;
  line-height: 1.5;
  text-align: left;
}

.headerh3 {
  padding-top: 50vh;
  font-weight: 400;
  font-family: "Jua", "Jua Placeholder", sans-serif;
  color: #000000;
  font-size: 4rem;
  line-height: 1.2;
  text-align: left;
}

.headerp3 {
  padding-top: 5vh;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 1.7rem;
  line-height: 1.5;
  text-align: left;
}

.headerp33 {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: left;
}

.headerh4 {
  padding-top: 65vh;
  font-weight: 400;
  font-family: "Jua", "Jua Placeholder", sans-serif;
  color: #03045e;
  font-size: 3.5rem;
  line-height: 1.2;
  text-align: center;
}

.headerp4 {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #03045e;
  font-size: 1.5rem;
  text-align: center;
}

.explorebtn {
  box-sizing: border-box;
  width: 15rem;
  justify-content: center;
  align-items: center;
  padding: 15px 15px 15px 15px;
  background-color: #03045e;
  align-content: center;
  border-radius: 8px;
  font-weight: 700;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: #ff9100;
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
  transition: 0.5s;
}

.explorebtn:hover {
  background-color: #ff9100;
  color: #03055e47;
  width: 20rem;
  font-size: 1.5rem;
}

.yellow {
  background-color: #fba22f;
  height: 15vh;
}

.blue {
  background-color: #03045e;
  color: #ff8500;
  padding: 60px 0;
  width: 100%;
  text-align: center;
  justify-content: end;
  align-items: center;
  bottom: 0;
  position: relative;
  min-height: 15vh;
}

.social-icons {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.social-icons a {
  font-size: 3rem;
  color: #fba22f;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.5s ease;
  display: inline-block; /* Display as inline-block for proper alignment */
  margin: 0 20px; /* Add margin to separate the icons */
}

.social-icons a:hover {
  color: teal;
  transform: scale(1.2);
}

.footer-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  background-color: #03045e;
  color: #ff8500;
}
/* responsive.css */

@media (max-width: 1550px) {
  .header {
    background-image: none;
    background-color: #03045e;
  }

  .images {
    display: none;
  }

  .text {
    background-image: none;
    display: block;
    background-color: #fba22f;
    padding: 20px;
  }
}

@media (max-width: 800px) {
  .nav-link {
    font-size: 1rem;
    font-weight: 400;
  }
  .navbar-brand {
    font-size: 2rem;
    font-weight: 400;
  }
}

@media (max-width: 600px) {
  .nav-link {
    font-size: 0.7rem;
    font-weight: 300;
  }
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: 300;
  }
}
