body {
  background-color: #f8f9fa;
}

.container {
  margin-top: 50px;
}

.university-row {
  margin-bottom: 20px;
}

.university-card {
  display: block;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  color: #333;
}

.university-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.university-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.university-card h3 {
  font-size: 18px;
}
